<div class="features-3" id="library">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<!-- <div style="padding: 0px 10px;"> -->
			<img class="img img-responsive" src="/img/welcome/library.jpg" />
			<!-- </div> -->
		</div>
		<div class="col-md-6">

			<div class="h2 title">
				{{ istring locale ru='Уникальная коллекция фильмов' en='Best movie collection in Russian' }}
            </div>

			<ul style="list-style: none; margin-left: 0px; padding-left: 0px;">
				<li>
					{{ istring locale ru='Лучшая библиотека фильмов на русском' en='Biggest movie library in Russian' }}
				</li>
				<li>
					{{ istring locale ru='Более 200 тысяч фильмов и сериалов' en='Over 200 thousand Movies' }}
				</li>
				<li>
					{{ istring locale ru='Новые поступления каждый день' en='New Arrivals every day' }}
				</li>
				<li>
					{{ istring locale ru='HD качество' en='HD quality' }}
				</li>
			</ul>

			<div class="h3">{{ istring locale ru='Новый опыт' en='New Experience' }}</div>

			<ul style="list-style: none; margin-left: 0px; padding-left: 0px;">
				<li>
					{{ istring locale ru='Запрашивайте фильмы' en='Request desireble Movie'}}
				</li>
				<li>{{ istring locale ru='Подписывайтесь на лучших комментаторов фильмов' en='Follow best commentators'}}</li>
				<li>{{ istring locale ru='Подписывайтесь на обновлени в сериалах и передачах' en='Subscribe for the serial to be updated with new arrivals'}}</li>
				<li>{{ istring locale ru='Пишите интересные комментарии и находите с помощью них новых друзей' en='Make great comment to be followed'}}</li>
			</ul>

			<div class="info info-horizontal d-none">
				<div class="icon icon-primary">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</div>
				<div class="description">
					<div class="info-title h4">
                        {{ istring locale ru='Ежедневные обновления' en='Daily updates'}}
                    </div>
				</div>
			</div>

		</div>
	</div>
	</div>
</div>
