<li id="sm-profile" class="hidden">
    <a href="/profile">{{ istring locale ru='Профиль' en='Profile' }}</a>
</li>

<li id="sm-profile-history">
    <a href="/profile/history">
        {{ istring locale ru='История' en='History' }}
    </a>
</li>
<li id="sm-profile-video-subs">
    <a href="/profile/video-subscriptions">
        {{ istring locale en='Video subscriptions' ru='Подписки на видео' }}
    </a>
</li>
<li id="sm-profile-likes">
    <a href="/profile/likes">
        {{ istring locale ru='Любимые фильмы' en='Favorite movies'}}
    </a>
</li>
<li id="sm-profile-comments">
    <a href="/profile/comments">
        {{ istring locale ru='Комментарии'  en='Comments' }}
    </a>
</li>
<li id="sm-profile-subscription">
    <a href="/profile/subscription">
        {{ istring locale ru='Подписка' en='Subscription' }}
    </a>
</li>
<li id="sm-profile-edit">
    <a href="/profile/edit">
        {{ istring locale ru='Редактировать профиль' en='Edit profile' }}
    </a>
</li>
<li id="sm-profile-im">
    <a href="/profile/im">
        {{ istring locale ru='Сообщения' en='Messages' }}
    </a>
</li>
<li id="sm-profile-feed">
    <a href="/profile/feed">
        {{ istring locale ru='Лента новостей' en='Feed'}}
    </a>
</li>

<li id="sm-profile-followers">
    <a href="/profile/followers">
        {{ istring locale ru='Followers' en='Followers' }}
    </a>
</li>
<li id="sm-profile-following">
    <a href="/profile/following">
        {{ istring locale ru='Following' en='Following' }}
    </a>
</li>
<li id="sm-profile-video-requests">
    <a href="/profile/video-requests">
        {{ istring locale ru='Запросить видео' en='Request a movie' }}
    </a>
</li>
