<div class="col-md-3">
	<div class="card card-profile card-plain">
		<div class="card-avatar">
			<a href="{{ url }}">
				<img class="img" src="{{ photo }}" />
			</a>
		</div>

		<div class="card-content">
			<a href="{{ url }}">
				<div class="h4 card-title">
					{{ displayName }}
					{{#equal sex "male"}}
					<i class="fa fa-mars" aria-hidden="true"></i>
					{{/equal}}
					{{#equal sex "female"}}
					<i class="fa fa-venus" aria-hidden="true"></i>
					{{/equal}}
				</div>
			</a>
			<div class="h6 category text-muted">
				{{ shortInfo }}
			</div>
		</div>
	</div>
</div>
