<div id="video-requests-container">
</div>

{{#section "scripts"}}

<script type="text/x-handlebars-template" id="template-video-requests">
<!-- /.panel-heading -->
<table id="video-requests" cellspacing="0" width="100%" class="display table table-striped table-bordered table-hover">
<thead>
<tr>
<th>Date</th>
<th>Request</th>
<th>Status</th>
<th>Video</th>
<th>User</th>
</tr>
</thead>
<tbody>
\{{#each .}}
<tr data-request-id="\{{ _id }}">
<td>\{{ createDate }}</td>
<td>
    \{{#if request}}
    <a href="/admin/requests/\{{ _id }}">
    \{{ request }}
    </a>
    \{{else}}
    <em>(empty request)</em>
    \{{/if}}
</td>
<td>\{{ status }}</td>
<td>
    \{{#each videoTitles}}
    <a href="/admin/videos/titles/\{{ _id }}">\{{ title }}</a>
    <hr />
    \{{/each}}
    \{{#each videoItems}}
    <a href="/admin/videos/titles/\{{ videoTitle._id }}/\{{ _id }}">\{{ title }}</a>
    <hr />
    \{{/each}}
</td>
<td><a href="/admin/user/\{{ user._id }}">\{{ user.displayName }}</a></td>
</tr>
\{{/each}}
</tbody>
</table>
</script>

<script type="text/javascript">
$(function () {

    let $container = $('#video-requests-container');
    let template = Handlebars.compile($("#template-video-requests").html());

    let loadItems = function () {
        let url = '/api/admin/requests';
        $.ajax(url, {
            method: 'GET',
            success: function (response) {
                $container.html(template(response));

                var pageLength = getStorageValue('video-requests-page-length', 50);

                let table = $('#video-requests').DataTable({
                    order: [[0, 'desc']],
                    search: {
                        smart: true
                    },
                    pageLength: pageLength,
                    responsive: true
                });

                table.on( 'length.dt', function ( e, settings, len ) {
                    setStorageValue('video-requests-page-length', len);
                });
            },
            error: function (err) {
                console.log(err);
            },
            complete: function () {
            }
        })
    };

    loadItems();
});
</script>
{{/section}}
