<div class="card">
    <div class="card-content">
        <div class="h3 title">{{ istring locale ru='Страница не найдена' en='Page not found' }}</div>
        <hr />
    </div>
    <div class="card-content">
        <ul>
            <li><a href="/">{{ istring locale ru='Стартовая страница' en='Home' }}</a></li>
            <li><a href="/help">{{ istring locale ru='Помощь' en='Help' }}</a></li>
            <li><a href="/feedback">{{ istring locale ru='Обратная связь и контакты' en='Feedback & Contacts' }}</a></li>
            <li><a href="/videos/all">{{ istring locale ru='Все фильмы' en='All Videos' }}</a></li>
        </ul>
    </div>
</div>