<div class="card"><div class="card-content">
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="h2">
                    {{ istring locale ru='Восстановление пароля' en='Password recovery' }}
                </div>
            </div>
        </div>

        <!-- password recovery form -->
        <form method="post" class="form" id="recovery-form" action="/passwordrecovery" autocomplete="on">

            <input type="hidden" id="hid-token" name="token" value="{{ token }}" />

            <div class="form-froup">
                <label for="sel-logins">
                    {{ istring locale ru='Выберите учетную запись' en='Select account' }}
                </label>
                <select id="sel-logins" class="form-control">
                    {{#each accounts}}
                    <option value="{{ _id }}">{{ local-credentials.login }}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <input type="password" id="tb-password" class="form-control" name="password"  placeholder="{{ istring locale ru='Введите новый пароль' en='Enter new password' }}" value="" />
            </div>

            <div class="form-group">
                <input type="password" id="tb-re-password" class="form-control" name="repassword"  placeholder="{{ istring locale ru='Подтвердите новый пароль' en='Confirm new password' }}" value="" />
            </div>

            <div class="alert alert-danger" id="recovery-form-invalid" role="alert" style="display: none;">
                {{ istring locale ru='Введите пароль и подтвердите его' en='Please enter new password and confirm it' }}
            </div>

            <div class="alert alert-danger" id="recovery-error" role="alert" style="display: none;">
                Error message
            </div>

            <div class="alert alert-success" id="recovery-success" role="alert" style="display: none;">
                {{ istring locale }}
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="bt-submit">
                {{ istring locale ru='Отправить'  en='Submit'}}
            </button>

        </form>
        <!-- /// password recovery form -->

    </div>
</div>
</div></div>

{{#section "scripts"}}
<script type="text/javascript">
$(function() {
    var $token = $('#hid-token');
    var $logins = $('#sel-logins');
    var $password = $('#tb-password');
    var $repassword = $('#tb-re-password');
    var $form = $('#recovery-form');
    var $error = $('#recovery-error');
    var $success = $('#recovery-success');
    var $invalid = $('#recovery-form-invalid');
    var $bt = $('#bt-submit');
    $password.focus();

    var hideMessages = function () {
        $error.hide(); $success.hide(); $invalid.hide();
    };

    $form.submit(function (evt) {

        evt.preventDefault();

        hideMessages();

        var password = $password.val();
        var repassword = $repassword.val();

        // validate form
        if (password === '' || password != repassword) {
            $invalid.show();
            $password.focus();
            return;
        }

        // sending password restore request to server
        var url = '/api/user/password-recovery';
        var data = {
            password : password,
            user : $logins.val(),
            token : $token.val()
        };
        console.log(data);
        $bt.prop('disabled', true);
        $.ajax(url, {
            method: 'PUT',
            data: data,
            success: function (response) {
                console.log(response);
                $success.text(response.message);
                $success.show();
                window.setTimeout(function () {
                    window.location.assign('/profile/history');
                }, 5 * 1000);
            },
            error: function (err) {
                console.log(err);
                $error.show();
            }
        });
    });
});
</script>
{{/section}}
