<div class="h3 title">
    {{ istring locale ru='Изменить пароль' en='Change password' }}
</div>

<hr />

<div class="row">
    <div class="col-md-8 col-sm-12">

        <form id="profile-password-form">
            <div class="alert alert-success d-none" id="profile-form-success">
                <div class="container-fluid">
                  <div class="alert-icon">
                	<i class="material-icons">check</i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  {{ istring locale ru='Пароль успешно изменен' en='Done' }}
                </div>
            </div>
            <div class="alert alert-danger d-none" id="profile-form-error">
                <div class="container-fluid">
                  <div class="alert-icon">
                    <i class="material-icons">check</i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  <span id="profile-form-error-message"></span>
                </div>
            </div>
            <div class="form-group row">
                <input type="password" id="tb-profile-password" autocomplete="off" class="form-control" name="password" placeholder="{{ istring locale ru='Новый пароль' en='New password' }}" />
            </div>
            <div class="form-group row">
                <input type="password" id="tb-profile-confirm-password" autocomplete="off" class="form-control" name="confirm-password" placeholder="{{ istring locale ru='Подтвердите пароль' en='Confirm new password' }}" />
            </div>
            <button id="bt-profile-info" class="btn btn-primary">
                {{ istring locale ru='Изменить пароль' en='Update password' }}
            </button>
        </form>

    </div>
</div>

{{#section "scripts"}}
<script type="text/javascript">

function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}

$(function() {

    $('#sm-profile-edit').addClass('active');

    $('#profile-password-form').on('submit', function(evt) {

        $('#profile-form-error').addClass('d-none');
        $('#profile-form-success').addClass('d-none');

        evt.preventDefault();
        var data = getFormData($(this));
        var password = data.password;
        var confirmPassword = data['confirm-password'];

        if (password === '') {
            $('#profile-form-error-message').text('{{ istring locale ru='Пароль не может быть пустым' en='Please enter new password' }}')
            $('#profile-form-error').removeClass('d-none');
            return;
        }

        if (password !== confirmPassword) {
            $('#profile-form-error-message').text('{{ istring locale ru='Пожалуйста подтвердите пароль' en='Please confirm new password' }}')
            $('#profile-form-error').removeClass('d-none');
            return;
        }

        var url = '/api/user/password';
        $.ajax(url, {
            method: 'PUT',
            data: data,
            success: function(response) {

                console.log(response);

                $('#profile-form-success').removeClass('d-none');
                $('#profile-form-error').addClass('d-none');

            },
            error: function(err) {

                $('#profile-form-success').addClass('d-none');
                $('#profile-form-error-message').text('{{ istring locale ru='При изменении пароля произошла ошибка' en='Error ocurred during password update' }}')
                $('#profile-form-error').removeClass('d-none');

            }
        });

    });
});
</script>
{{/section}}
